telethon
psycopg2-binary
sqlalchemy
python-dotenv
dbt-postgres
dotenv
ultralytics
torch==2.1.0+cpu
torchvision==0.16.0+cpu
torchaudio==2.1.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
numpy<2.0
opencv-python